mat-form-field{
    width: 100%;
}
mat-card{
    width: 50%;
    margin: auto;
    margin-top: 10px;
}
.reset ,.signup{
    display:inline-block;
    align-items: center;
    margin: 15px 10px;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aquamarine;
  }